:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  background-color: #ffc4c4;
  display: flex;
  justify-content: center;
}

/* Define the custom font with @font-face */
@font-face {
  font-family: 'Alphasmoke';
  src: local('Alphasmoke'), url(./assets/fonts/Alphasmoke-OOX6.woff2) format('woff2');
}

.headerContainer {
  padding: 10px 15px;
}

.header {
  font-family: 'Alphasmoke', sans-serif; 
  font-size: 45px;
  color: #757070;
  font-weight: 100;
}

h1 {
  font-family: 'Alphasmoke', sans-serif; 
  animation: wave 2s ease-in-out infinite; 
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
}

.contentWrapper {
  max-width: 450px; /* Set a maximum width for larger screens */
  width: 100%;
}

.formWrapper {
  background-color: rgb(242, 240, 240);
  border: 2px solid black;
  box-shadow: 6px 8px;
  margin: 30px 15px;
  line-height: 1rem;
  padding: 10px 15px 5px;
  display: flex;
  flex-direction: column;
}

.formInput {
  border: 2px solid rgb(191, 191, 191);
  margin-top: 12px;
  height: 50px;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
}

.countText {
  font-size: 10px;
}

.countTextError {
  font-size: 10px;
  color: red;
}

.thoughtText {
  font-size: 12px;
  letter-spacing: -0.5px;
}

.thoughtWrapper {
  background-color: white;
  border: 2px solid black;
  box-shadow: 6px 6px;
  margin: 30px 15px;
  line-height: 1rem;
  padding: 0 15px;
}

.likedThoughtContainer {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.likesText {
  font-size: 12px;
  color: rgb(162, 162, 162);
  /* opacity: 0.8; */
}

.formBtn {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 173, 173);
  font-size: 12px;
  font-weight: bold;
  color: rgb(78, 52, 52);
  cursor: pointer;
}

.formBtn:hover {
  width: 52%;
  font-size: 13px;
}

.optionalText {
  color: #868686;
}

.messageText {
  font-size: 14px;
  overflow-wrap: break-word;
  line-height: 2em;
}

.likeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: rgba(61, 61, 61, 0.8);
  padding: 5px 0;
  margin-bottom: 8px;
}

.likeBtnContainer {
  display: flex;
  letter-spacing: 0.2em;
  align-items: center;
  color: rgb(162, 162, 162);
  letter-spacing: -2px;
  font-size: 12px;
}

.heartBtn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: rgb(234, 234, 234);
  cursor: pointer;
}

.heartBtnClicked {
  background-color: rgb(255, 173, 173);
}

.heartBtn:hover {
  width: 43px;
  height: 43px;
}

.date {
  opacity: 0.5;
  font-size: 11px;
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(5px); }
}

.loadingOverlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  height: 50px;
  width: 50px;
  border: 5px solid #dcdcdc;
  border-radius: 50%;
  border-left: 5px solid #ffff;
  animation: spinner infinite 0.6s;
  display: inline-block;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  13% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  38% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(180deg);
  }
  63% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(270deg);
  }
  88% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Query for Mobile */
@media (max-width: 600px) {
  .contentWrapper {
    width: 100%;
    max-width: none;
  }
  .formWrapper {
    margin: 15px;
  }
  .formBtn {
    width: 100%;
  }
  .formInput {
    width: 90%; 
    margin-top: 12px;
    height: auto; /* Allow the textarea to expand vertically as needed */
  }
}